extends layout

block content
    .main
        h2= title
            ul
                each cap in lista_capitulos
                    li
                        a(href=cap.url) #{cap.manga.titulo}
                        if cap.nome
                            |    #{'- ' + cap.nome}
                        else
                            |    #{'#' + cap.num}
                        span.lancamento    ( #{cap.data_formatada} )            
                else
                    li Não encontrei nada (´･_･`)
