extends layout

block content
    h5 #{capitulo.manga.titulo + ': ' + capitulo.titulo}
    
    .row
        .col-sm-12
            h3 #{capitulo.manga.titulo}
            p #{capitulo.manga.sumario}
        .col-sm-8
            a(href=capitulo.url) #{capitulo.nome}
        .col-sm-4
            span #{capitulo.data_formatada}
        .col-sm-4
            span #{capitulo.isbn}