extends layout

block content
    .main
        h5= title
            ul
                each cap in manga.capitulo
                    li
                        a(href=cap.url) #{manga.titulo}: #{cap.titulo}
                        span.lancamento ( #{cap.data_formatada} )            
                else
                    li Não encontrei nada (´･_･`)
