extends layout

block content
    .main
        .media
            img.mr-3(src='https://placewaifu.com/image/200/300' alt=manga.titulo)
            .media-body
                .row.px-3.align-items-center.justify-content-between
                    h4.mt-0= manga.titulo
                    .col
                        each cat in manga.categoria
                            a(class='badge badge-dark mr-2' href=cat.url) #{cat.nome}
                .author by #{manga.autor.nome}
                p.summary= manga.sumario
        
        hr
        .btn-toolbar(role='toolbar' aria-label='Controles Mangá').d-flex.justify-content-center
            .btn-group.mr-2(role='group' aria-label='Gerenciar Mangá')
                a.btn.btn-outline-danger(href=manga.url+'/remover') Remover
                a.btn.btn-outline-secondary(href=manga.url+'/atualizar') Editar
                a.btn.btn-outline-primary(href=`/catalogo/manga/${manga._id}/capitulo/adicionar`) Adicionar Capítulo
            

        hr
        ul.list-group
            each cap in capitulos
                li.list-group-item.d-flex.justify-content-between.align-items-center= cap.titulo
                    .btn-toolbar(role='toolbar' aria-label='Menu de opções do Capítulo')
                        .btn-group.mr-2(role='group' aria-label='Detalhes Capítulo')
                            a.btn.btn-outline-info(href=cap.url)
                                img(src='/icons/info.svg' title='Informações Capítulo')
                        .btn-group(role='group' aria-label='Ações Capítulo')
                            a.btn.btn-outline-danger(href=cap.url+'/remover')
                                img(src='/icons/trash.svg' title='Remover Capítulo')
