extends ../layout

block content
    .main
        h2 #{title}: #{autor.nome}
        small #{autor.nasc}

        if autor_mangas.length

            .alert.alert-warning(role='alert')
                p.alert-heading Remova os seguintes mangás antes de continuar.
                hr
                ul.list-group.list-group-flush.m-0
                    each manga in autor_mangas
                        li.list-group-item.list-group-item-secondary.mb-2
                            .card
                                .card-body
                                    a.card-title(href=manga.url)= manga.titulo
                                    p.card-text= manga.sumario
        else
            .alert.alert-danger(role='alert')
                p.alert-heading Você realmente quer deletar esse Autor?
                    .card
                        .card-body
                            form(method='POST' action='')
                                .form-group
                                    input#autor_id.form-control(type='hidden', name='autor_id', required, value=autor._id)
                                button.btn.btn-primary(type='submit') Remover
        